/* Colour Scheme - Monokia

#272822       Black
#EBF7F8       White
#2FB1F7       Blue
#F7752F       Orange
#B1F72F       Green

*/

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

/* general */
body {
  color: #272822;
  background: #EBF7F8;
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-weight: 100;
}

b, strong {
  font-weight: bold;
}

p {

}

a:link, a:visited {
  color: #2FB1F7;
}
a:hover, a:active {
  color: #F7752F;
}

h1 {
  color:#2FB1F7;
  border-bottom: solid 1px #2FB1F7;
}
h2 {
  color: #F7752F ;
  border-bottom: solid 1px #F7752F;
  margin-bottom: 5px;
}
h3 {
  margin: 5px 0 5px 10px;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

ol {
  padding-left: 25px;
}

ol ol {
  padding-left: 20px;
}

li li {
  font-size: smaller;
}

/* Main Layout Styles */
header {
  position: fixed;
  top: 0;
  margin: 0 25px 0 200px;
  width: 968px;
  height: 100px;
  padding: 10px;
  float:left;
  background: #EBF7F8;
}
nav {
  position: fixed;
  right: 0;
  top: 20%;
  width: 350px;
}
#main {
  margin: 100px 25px 0 200px;
  padding-top: 15px;
  max-width: 968px;
  min-width: 500px;
}

/* Header */
#header-logo {
  border-radius: 38px;
  margin: 5px 10px 0 0;
  float:left;
}
header h1 {
  font-size: 50px;
  margin-top:0;
  line-height: 75px;
  display: inline-block;
}
#header-summary {
  float: right;
  margin-right: 20px;
}

/* Nav */

/* section - main */


/* article */
article {
  clear:both;
}

article h1 {
  font-size: 45px;
  margin: 5px 0px 5px 0px;
}

.lead-image {
  float:left;
  margin: 10px 10px 10px 0;

  border-radius: 15px;
}
.project-info-item {
  margin-right: 20px;
}

.code-toggle {
  cursor: pointer;
  font-size: 12px;
  padding: 1px;
  clear:both;
}
article h3 {
  display: inline-block;
}

/* misc */
.gist table {
  color: #000 !important;
}




